*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('../img/bekgron.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.container{
    width: 1000px;
    height: 500px;
    background-color: white;
    display: flex;
    flex-direction: column;
    padding: 40px;
    justify-content:space-around;
}
.container h1{
    text-align: center;
}
.kolom1{
     display: flex;
}
.pemilik{
    width: 100%;
    margin-right: 40px;
}
.input{
    border: 1px solid #999;
}
.input input{
    width: 100%;
    border:none;
    outline: none;
    padding: 10px;
}
.pilihan{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.pilihan select{
    padding: 10px 20px;
}
a{
    background-color: blueviolet;
    color: white;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    padding: 10px;
    font-size: 18px;
    transition: 0.5s;
}
a:hover{
    background-color: dodgerblue;
}
.kartu img{
    width: 100px;
}